@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  --light-gray: #e7e7e7;
  --image-recipe: #c7bebe;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/**** HEADER ****/
header {
  display: flex;
  justify-content: center;
}
header img {
  width: 268px;
  height: 95px;
  margin-top: 42px;
}

/**** SEARCH BAR ****/
main {
  display: flex;
  justify-content: center;
  width: 1440px;
  margin: auto;
}
.main-block {
  width: 100%;
  margin-top: 17px;
}
.search-box {
  position: relative;
  display: flex;
  align-items: center;
}
.search-bar {
  height: 69px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: var(--light-gray);
  margin: auto;
  padding-left: 24px;
}
.search-bar::placeholder {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.search-btn {
  display: flex;
  align-items: center;
  position: absolute;
  right: 16px;
  background-color: var(--light-gray);
  border: none;
  width: 32.06px;
  height: 32.06px;
  cursor: pointer;
}
.search-btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  font-size: 30px;
}
@media (max-width: 1440px) {
  main {
    width: auto;
  }
  .search-bar {
    width: 90%;
  }
  .search-btn {
    right: 6%;
  }
}

/****FILTER ****/
.filter-section {
  display: flex;
  width: 1440px;
  margin: auto;
}
.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 15px;
  margin-bottom: 25px;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-right: 20px;
  cursor: pointer;
}
.ingredient-btn {
  background-color: #3282f7;
}
.appliance-btn {
  background-color: #68d9a4;
}
.ustensils-btn {
  background-color: #ed6454;
}
.filter {
  margin-top: 15px;
  margin-right: 25px;
  border-radius: 5px;
  margin-bottom: 15px;
  position: relative;
  width: 33%;
  overflow: hidden;
  display: none;
}
.filter button {
  right: 10px;
  top: 25px;
  position: absolute;
  color: white;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.ing-filter button {
  background-color: #3282f7;
}
.ing-filter {
  background-color: #3282f7;
  width: 55%;
  max-height: 397px;
  overflow: hidden;
}
.app-filter button {
  background-color: #68d9a4;
}
.app-filter {
  background-color: #68d9a4;
  width: 55%;
  max-height: 397px;
}
.ust-filter {
  background-color: #ed6454;
  width: 55%;
  max-height: 397px;
}
.ust-filter button {
  background-color: #ed6454;
}
.ing-list,
.app-list,
.ust-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 19px;
}
.ing-list span,
.app-list span,
.ust-list span {
  height: 22px;
  margin: 5px 0;
  color: #ffffff;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 16px;
  cursor: pointer;
}
.filter input {
  height: 69px;
  padding-left: 19px;
  border: none;
  outline: none;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.filter input::placeholder {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.ing-input {
  background-color: #3282f7;
}
.app-input {
  background-color: #68d9a4;
}
.ust-input {
  background-color: #ed6454;
}
.ing-list,
.app-list,
.ust-list {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
@media (max-width: 1440px) {
  .filter-section {
    width: 90%;
  }
}

/**** RECIPES ****/

.recipe-section {
  display: grid;
  width: 100%;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  overflow: hidden;
}
.recipe {
  width: 100%;
  height: 364px;
  overflow: hidden;
  border-radius: 5px;
}
.photo-recipe {
  height: 178px;
  width: 100%;
  background-color: var(--image-recipe);
}
.infos-recipe {
  height: 186px;
  background-color: var(--light-gray);
}
.title-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name-recipe {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-left: 20px;
  margin-top: 20px;
}
.duration {
  margin-right: 20px;
  margin-top: 20px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.fa-clock {
  margin-right: 7px;
}
.more-infos {
  display: flex;
  position: relative;
  margin-top: 20px;
  padding: 0 20px;
}
.ingredients {
  width: 50%;
  position: relative;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  line-height: 14.4px;
}
.ingredient-name {
  font-weight: 700;
}
.instructions {
  width: 50%;
  height: 95px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  margin-left: 12px;

  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (max-width: 1440px) {
  .recipe-section {
    width: 90%;
  }
}
@media (max-width: 1100px) {
  .recipe-section {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 800px) {
  .recipe-section {
    grid-template-columns: 1fr;
  }
}
